- if task
  %div(class="task status_#{task.status}" id="task_#{task.id}")
    = Task.urgencies[(task.urgency ? 1 : 0 )]
    %span= task.essence
    %br/
    = "it will take #{Task.durations[task.duration]}"
    %br/
    = "and the best time for that is #{Task.dayparts[task.daypart]}"
    - if %w(index show delayed).include?(action_name)
      %br/
      = (task.status == Task::IN_PROGRESS ? 'Already in process' : '' )
      - unless action_name == 'delayed' 
        = (task.status == Task::DELAYED ? 'Delayed' : '' )
      .manage_links
        = link_to 'Edit', edit_task_path(task)
        = link_to 'Destroy', task, :confirm => 'Are you sure?', :method => :delete
    - elsif %w(finished).include?(action_name)
      .manage_links
        = link_to 'Restore', restore_task_path(task), :method => :put
    - elsif %w(dashboard next_delayed next).include?(action_name)
      .manage_links
        = link_to 'Done', i_have_done_task_path(task), :confirm => 'Are you really done with that?', :method => :put
        - unless action_name == 'next_delayed'
          = link_to 'Delay', delay_task_path(task), :method => :put
- else
  %p No tasks affordable to your amount of time